<!DOCTYPE html>
<html>
    <head>
        <title>Smash Up Faction Randomizer</title>
        <link href="/smashup/styles.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Anton|Oxygen" rel="stylesheet">
    </head>
    <body>

        <h1 id="title">Smash Up Faction Randomizer</h1>

        <div id="instructions">Select the sets that you want to play with, then you can select or deselect factions within those sets. Enter the number of players and hit 'Go!' Have fun!</div>
        <hr/>

        <div id="app">
            <div id="expansionsChild">
                <h1 class="topTitles">Expansions</h1>
                <ul id="expansionsList">
                    <li  v-for="expansion in expansions">
                        <input class="expansion" type="checkbox" v-bind:id="expansion" v-bind:value="expansion" v-on:click="selectExpansion">
                        <label v-bind:for="expansion">{{expansion}}</label>
                    </li>

                </ul>

            </div>
            <div id="factionsChild">
                <h1 class="topTitles" v-if="availableFactions.length > 0">Factions</h1>
                <ul>
                    <li v-for="faction in availableFactions">
                        <input type="checkbox" class="availableFaction" v-bind:id="faction" v-bind:checked="selectedFactions.indexOf(faction) > -1" v-bind:value="faction" v-on:click="selectFaction">
                        <label v-bind:for="faction"><span class="faction">{{faction.replace(/_/g, ' ')}}</span>&nbsp;<span class="set">({{factionSets[faction]}})</span></label>
                    </li>
                </ul>

            </div>
            <div id="playerSection">
                <hr/>
                <h1>Players</h1>
                <div class="centerPlease">
                    <input type="text" id="playerCount" v-model="playerTextEntry">
                    <input type="button" id="randomize" value="Go!" v-on:click="randomizeFactions"/>
                </div>
            </div>
            <div id="resultChild">
                <hr v-if="randomPlayerFactions.length > 0"/>
                <h1 v-if="randomPlayerFactions.length > 0">Smashed Up Combinations</h1>
                        <div class="resultItem" v-for="player in randomPlayerFactions">
                            {{player.first}} {{player.second}}
                        </div>
            </div>

        </div>
        <div id="footer">
            The code is hosted smashingly on <a href="https://github.com/cweeks12/SmashUpRandomizer">Github</a>. 
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script text="type/javascript" src="/smashup/script.js">
        </script>
    </body>
</html>
